.listagem_container{
    padding: 2em; 
    
}
.title_container{
    display: flex;
    margin-bottom:3rem; 
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.pagination_container{
    display: flex;
    margin-bottom: 3rem; 
    justify-content: space-between;
    margin: 1 auto;
    flex-wrap: wrap; 
    
}