.perfil_container{
    width: 600px; 
    margin: 0 auto;
    padding: 3em;
}
.perfil_container h1{
    margin-bottom: 0em;
}
.perfil_container h3{
    color:black;
}
.perfil_title{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 2em;
    
}
