.menssage{
    width: 100%;
    padding: 1em;
    border: 1px solid #000 ;
    margin: 0 auto;
    text-align: 2em;
    margin-bottom: 2em;
    border-radius: 5px ;
}

.success{
    color:blue;
    background-color: #000;
    border-color: blueviolet;
}

.error{
    color:rgb(10, 8, 8);
    background-color: rgb(214, 14, 14);
    border-color: blueviolet;
}