form{
    width: 100%;
    margin: 2em 0;
  
    
}
.msg{
    
    color: red;
    font-size: 20px;
}
.form_select{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: .7em;
    border-radius: 0;
    border: none;
    margin-bottom: .6em;
    font-weight: bold;
    
}